.btn1{
	text-align: center;
	font-size: 14pt;
	width: 80px;
	height: 40px;
	color: white;
	background-color: #F5A9A9;
	border: none;
}
table, th, td {
    border: 1px solid black;
 }
table{
    width: 600px;
 }
h1{
	text-align: left;
}