<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>YOZO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<!-- com.yozo.goods.controller.GoodsController -->
<!--ckfinder start -->
<servlet>
  <servlet-name>ConnectorServlet</servlet-name>
  <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
  <init-param>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
  </init-param>
  <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
  

</servlet>
<servlet-mapping>
  <servlet-name>ConnectorServlet</servlet-name>
  <url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
</servlet-mapping>  
<!-- ckfinder end -->
 <!-- 
https로 자동연결해주는 web 설정
하지만 이 전에 인증서를 넣어줘야하기 때문에 주석처리
	/*는	 모든 경로는 http가 접근못하게 설정
 -->
<!--  
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SSL Forward</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	-->

	

</web-app>
